<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Clubs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div id="app" class="container">
        <header>
            <h1>After School Clubs</h1>

            <!-- Checkout button - checks if there is more than one item, then allows to be accessed. -->
            <div class="controls">
                <button class="btn" v-bind:disabled="cartItemCount === 0" v-on:click="toggleCartPage">
                    <span>{{ cartItemCount }}</span>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Checkout</span>
                </button>
            </div>
        </header>
        <main>
            <!-- Products Page-->
            <div v-if="!showCartPage">
                <div class="topbar">
                    <!-- Search Bar -->
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search lessons (title, subject, location)..." v-model.trim="searchQuery">
                    </div>

                    <!-- Sort By Buttons -->
                    <div class="sort-options">
                        <div class="note">
                            <strong>Sort by: </strong>
                            <label><input type="radio" v-model="sortAttribute" value="subject"> Subject </label>
                            <label><input type="radio" v-model="sortAttribute" value="location"> Location </label>
                            <label><input type="radio" v-model="sortAttribute" value="price"> Price </label>
                            <label><input type="radio" v-model="sortAttribute" value="spaces"> Availability </label>
                        </div>

                        <!-- Ascending / Descending Sort Buttons -->
                        <div class="note" style="margin-top: 8px;">
                            <strong>Order: </strong>
                            <label><input type="radio" v-model="sortDirection" value="asc"> Ascending </label>
                            <label><input type="radio" v-model="sortDirection" value="desc"> Descending </label>
                        </div>
                    </div>
                </div>

                <!-- Lessons Header has a counter to show number of lessons, filtered or unfiltered-->
                <h2 style="color: #16325c; margin-bottom: 12px;">Lessons ({{filteredLessons.length}})</h2>
                
                <!-- Lesson Grid, to display each lesson in a grid using v-for loop -->
                <div class="lessons-grid">
                    <div class="lesson" v-for="lesson in filteredLessons">
                        <div class="icon">
                            <img v-bind:src="lesson.icon" v-bind:style="{width: '48px', height: '48px'}"></img>
                        </div>
                        <div class="lesson-info">
                            <h3> {{ lesson.title }} </h3>
                            <p><strong>Subject:</strong> {{ lesson.subject }} </p>
                            <p><strong>Location:</strong> {{lesson.location }} </p>
                            <p><strong>Price:</strong> ${{ lesson.price }} </p>
                            <p><strong>Spaces:</strong> {{ lesson.spaces }} </p>
                            <span v-for="n in lesson.rating">★</span>
                            <span v-for="n in 5 - lesson.rating">☆</span>
                        </div>

                        <!-- Class containing Button and Information Availability - Right side of each lesson grid -->
                        <div class="right-info">
                            <button class="btn" v-bind:disabled="lesson.spaces === 0" v-on:click="addToCart(lesson)" style="border: 2px solid #e6eefc">
                                <i class="fa-solid fa-plus"></i>Add to cart
                            </button>

                            <!-- Class containing v-if-else statement showing availability of lessons -->
                            <div class="note" style="margin-top: 6px;">
                                <span v-if="lesson.spaces === 0" style="color: #b91c1c">Full</span>
                                <span v-else-if="lesson.spaces < 5" style="color: #ffa600">Only {{lesson.spaces}} left</span>
                                <span v-else style="color: #21b91c">Available</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Checkout Page -->
            <div v-else>
                <h2 style="margin-bottom: 12px;">Shopping Cart</h2>

                <!-- Div class - If cart is emptied, back button is shown -->
                <div v-if="cartItemCount === 0" class="empty">
                    <p>Your cart is currently empty. You can return to the lessons page to add some lessons!</p>
                    <button class="btn" v-on:click="toggleCartPage" style="margin-top: 14px; background: #2b6cb0; color: #fff">
                        ← Back to Lessons
                    </button>
                </div>

                <div v-else class="cart-page">
                    <!-- Div class containing summary of each lesson -->
                    <div class="cart-items" v-for="item in cartSummary">
                        <div class="icon">
                            <img v-bind:src="item.lesson.icon" v-bind:style="{width: '36px', height: '36px'}"></img>
                        </div>
                        <div style="flex: 1;">
                            <div style="font-weight: 700;">
                                {{item.lesson.title}}
                            </div>
                            <div class="note">
                                Subject: {{item.lesson.subject}} | Location: {{item.lesson.location}}
                            </div>
                            <div style="margin-top: 6px;" class="note">
                                Price: ${{item.lesson.price}} | Quantity: {{item.quantity}}
                            </div>
                        </div>

                        <!-- Div class containing lesson buttons, add / remove Qty or remove selected lesson -->
                        <div class="cart-btns">
                            <div style="display: flex; gap: 6px;">
                                <button class="btn" v-on:click="decreaseCartItem(item.lesson)" v-bind:disabled="item.quantity === 0"><i class="fa-solid fa-minus"></i></button>
                                <button class="btn" v-on:click="increaseCartItem(item.lesson)" v-bind:disabled="item.lesson.spaces === 0"><i class="fa-solid fa-plus"></i></button>
                            </div>
                            <button class="btn" v-on:click="removeFromCart(item.lesson)" style="background: #fee2e2; color:#b91c1c">
                                <i class="fa-solid fa-trash"></i>Remove
                            </button>
                        </div>
                    </div>
                        <!-- Div class containing total Cart Qty and Costs -->
                        <div class="cart-cost">
                            <div>
                                <div style="font-weight: 700; font-size: 1.05rem;">
                                Total Items: {{cartItemCount}}
                                </div>
                                <div class="note">
                                Total Cost: ${{cartTotal}}
                            </div>
                        </div>

                        <!-- Div class containing Empty Cart button on right hand side -->
                        <div style="text-align: right;">
                            <button class="btn" v-on:click="emptyCart" style="background: #f8fafc; color: #2b6cb0;">Empty Cart</button>
                        </div>
                    </div>

                    <!-- Checkout Form -->
                    <div class="checkout-panel">
                        <h3 style="margin-bottom: 8px;">Checkout</h3>

                        <!-- Div class containing input forms -->
                        <div class="checkout-inputs">
                            <input type="text" placeholder="Full Name (letters only)" v-model:trim="checkout.name">
                            <input type="text" placeholder="Phone Number (digits only)" v-model:trim="checkout.phone">
                        </div>

                        <!-- Div class containing the checkout button, and validation message prompts in case of wrong input -->
                        <div class="checkout-btns">
                            <button class="btn" v-bind:disabled="!isCheckoutValid" v-on:click="submitCheckout" style="background: #2b6cb0; color: white;">
                                <i class="fa solid fa-credit-card"></i>Place Order
                            </button>
                            <div class="note">
                                <div v-if="!checkout.name" style="color: #475569">Full name required</div>
                                <div v-else-if="!isNameValid" style="color: #b91c1c">Name must contain letters only (A-Z, spaces allowed)</div>
                                <div v-else-if="!isNameMinLength" style="color: #b91c1c">Name must have a minimum of 8 characters</div>

                                <div v-if="!checkout.phone" style="color: #475569">Phone number required</div>
                                <div v-else-if="!isPhoneValid" style="color: #b91c1c">Phone number must contain digits only</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Linking of vuejs and fetch scripts -->
    <script src="getLessons.js"></script>
    <script src="updateLesson.js"></script>
    <script src="saveOrder.js"></script>
    <script src="searchLessons.js"></script>
    <script src="vuejs.js"></script>
</body>
</html>
<!-- End of HTML Code -->
